<h1>Edit book</h1>

<p>
	<%= form_for :book, url: book_edit_path(@book), method: :put  do |f|%>
</p>

<p>
<label>Book Name : </label><br>
	<%= f.text_field :book_name %>
</p>

<p>
<label>Author : </label><br>
	<%= f.text_area :author %>
</p>

<p>
<label>Publication : </label><br>
	<%= f.text_area :publication %>
</p>


<%= f.submit  %>
<% end %>