<!DOCTYPE html>
<html>
<head>
  <title>EventScheduler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
      <a class="navbar-brand" href="#">Event Scheduler</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
     
      <ul class="nav navbar-nav navbar-right">
        
      <% if !logged_in? %>
        <li class="signup"><%= link_to 'Sign Up', signup_path %></li>
        <li class="login"><%= link_to 'Login', login_path %></li>
        
    
      <% elsif logged_in? %>
      <li><%= image_tag("avatar.jpg", size: "60x60", alt: "profile ing")%></li>
      <li> 
  <%= link_to User.find(current_user.id).firstname+" "+User.find(current_user.id).lastname,show_user_path(current_user) %></li>
        <li class="logout"><%= link_to 'Logout', session_destroy_path, method: :delete %></li>
     <% end %>
     
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
<% flash.each do |type,message| %>
  <div class="alert alert-<%= type  %>"><%= message %></div>
<% end %>

</div>






<%= yield %>


</body>
</html>
