
<div class="container">
<div class="row">
<div class="col-md-6 col-md-offset-3">
<h1>Create Event</h1>
<%= form_for :event, url: create_event_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, "class" => "form-control" %>
  </p>
 
  <p>
    <%= f.label :venue %><br>
    <%= f.text_field :venue, "class" => "form-control" %>
  </p>

  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date, "class" => "form-control", "id" => "datepicker" %>
  </p>
  <p>
    <%= f.label :time %><br>
    <%= f.time_field :time, "class" => "form-control", "id" => "timepicker" %>
  </p>
  <p>
    <%= f.label :desc %><br>
    <%= f.text_area :desc, "class" => "form-control" %>
  </p> 


<%= f.fields_for :partcipent  do |f| %>
<h1>Add participents</h1>
<% @users.each do |t| %>
  <%if !(t.id==current_user.id)%>
  <%= check_box_tag "user_ids[]", t.id  %>
  <%=  t.firstname %>&nbsp; <%=  t.lastname %><br>

  <% end %>
  
<% end %>

<% end %>





  <p><br>
    <%= f.submit 'add participent' %>
  </p>
<% end %>

</div>
</div>
</div>