<h1>Employee Details</h1>
<%= form_for :qwinix do |f| %>
  <p>
    <%= f.label :FirstName %><br>
    <%= f.text_field :title %>
  </p>
	
	<p>
    <%= f.label :LastName %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :EID %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :designation %><br>
    <%= f.text_field :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>